<app-navbar></app-navbar>

<div class="container">
    <div class="card-container" *ngIf="games$ | async as games; else indicator">
        <mat-card class="card" *ngFor="let game of games">
            <mat-card-header>
                <mat-card-title> {{game.title}}</mat-card-title>
                <mat-card-subtitle>{{game.platform}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image *ngIf="game.imageUrl" [src]="game.imageUrl">
            <img mat-card-image *ngIf="!game.imageUrl" src="assets/placeholder.jpg">

            <mat-card-actions>
                <button mat-button (click)="goToDetailsPage(game.gameId)">VIEW DETAILS</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<ng-template #indicator>
    <app-loader></app-loader>
</ng-template>