mat-toolbar {
  background-color: #fb264e;
  color: #fff;
  .title {
    font-family: "Fredoka One", cursive;
  }

  .links {
    span {
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
    }
  }
}
