<mat-toolbar>
    <div class="title">
        <span>FLYNN'S ARCADE</span>
    </div>

    <div class="links">
        <span routerLink="/home/collection" [routerLinkActive]="['is-active']">Collection</span>

        <span routerLink="/home/search" [routerLinkActive]="['is-active']">Search Games</span>
        <span (click)="logout()"> Logout</span>

    </div>
    <div class="links-mobile">
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/home/collection">My Games</button>
            <button mat-menu-item routerLink="/home/search">Game Search</button>
            <button mat-menu-item (click)="logout()">Logout</button>

        </mat-menu>
    </div>

</mat-toolbar>