@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,200;0,300;1,100&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background-color: #000;
}

.title {
  width: 80%;
  padding-left: 1em;
  font-weight: bold;
}
.links {
  display: flex;
  justify-content: space-around;

  width: 20%;
  text-align: right;
  span {
    font-size: 15px;
  }
}
